html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  /*to override the default browser setup*/
}

body {
  font-family: "Rubik", sans-serif;
}

p {
  color: #746e6e;
}

.custom-bg-gray {
  background-color: #dacdcd;
  border: #dacdcd;
}

.custom-bg-footer-footer {
  background-color: #242946;
}

.custom-padding-navfoot {
  padding-left: 68px;
  padding-right: 68px;
  margin-left: auto;
  margin-right: auto;
}

form {
  padding-bottom: 62px;
}

.nav-item:hover .nav-link {
  color: #FA5959;
}

#loginButton:hover,
#loginButton:hover a {
  background-color: transparent;
  color: red !important;
}

.navbar-collapse #loginButton:hover {
  background-color: transparent;
  color: red !important;
}

#loginButton {
  background-color: #FA5959;
  border-color: #FA5959;
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 0.875rem;
}

.btn,
.btn-primary .nav-link {
  font-weight: 700;
  font-size: 0.875rem;
}

.btn-chrome a {
  color: white !important;
}

.btn-chrome:hover {
  background-color: transparent;
  color: #6072e4;
}

.btn-chrome:hover a {
  color: #6072e4 !important;
}

.btn-firefox:hover, .nav-link:hover a {
  background-color: transparent;
  color: black !important;
  border: black 1px solid !important;
}

.navbar-brand-collapsedNavBar {
  display: none;
}

.btn-close {
  display: none;
}

.card {
  border: none;
}

button.nav-link.active#bookmarking-tab,
button.nav-link.active#searching-tab,
button.nav-link.active#sharing-tab {
  border-bottom: #FA5959 2px solid;
}

.nav-link {
  margin-right: 2rem;
  color: black;
}

.img-main1 {
  position: relative;
  z-index: 1;
}

.blue-right-shadow {
  position: absolute;
  z-index: -1;
  left: 30%;
  top: 0;
  width: 85%;
  height: 70%;
  top: 35%;
  background: #5266df;
  border-bottom-left-radius: 8rem;
}

.img-main2 {
  position: relative;
  z-index: 1;
}

.blue-left-shadow {
  position: absolute;
  z-index: -1;
  right: 30%;
  top: 0;
  width: 85%;
  height: 70%;
  top: 35%;
  background: #5266df;
  border-bottom-right-radius: 8rem;
}

.browser-cards {
  display: flex;
  height: 550px;
  justify-content: center;
}

.browser-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 70%;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgb(121, 119, 119);
  margin: 20px;
}

#chrome {
  align-self: flex-start;
}

#firefox {
  align-self: center;
}

#opera {
  align-self: flex-end;
}

.custom-h5-text {
  font-weight: bold;
}

.custom-btn {
  font-size: 0.9rem !important;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
}

.custom-btn:hover,
.custom-btn:hover a {
  background-color: transparent;
  color: #6072e4 !important;
}

.accordion-header:active {
  color: black !important;
}

.h2#flush-headingOne.accordion-header {
  color: black !important;
}

#flush-headingOne {
  color: black !important;
}

.accordion-button:hover {
  color: #FA5959 !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.cust-txt-footer {
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 3px;
  margin-top: 25px;
}

.cust-h2-footer {
  margin-top: 2rem;
  font-size: 24px;
  margin-bottom: 1rem;
}

.btn.btn-submit:hover,
.btn.btn-submit:hover a {
  background-color: white;
  color: #FA5959 !important;
}

.invalid-feedback {
  background-color: #FA5959;
  border-color: #FA5959;
}

.validationCustomEmail {
  background-color: #FA5959;
  border-color: #FA5959;
  color: white;
}

.cust-foot-txt-div a:hover {
  color: #FA5959;
}

.facebook:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(46%) saturate(812%) hue-rotate(314deg) brightness(107%) contrast(96%);
}

.twitter:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(46%) saturate(812%) hue-rotate(314deg) brightness(107%) contrast(96%);
}

@media (max-width: 767.8px) {
  .custom-card {
    transform: scale(1.1);
    margin-top: 3rem;
    text-align: center;
  }
  .custom-card .card-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 100%;
  }
  .custom-card .card-title {
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
  }
  .custom-size-text {
    font-size: 1.1rem;
  }
  .custom-nav-tab {
    flex-direction: column;
    align-items: center;
  }
  .custom-nav-tab .nav-link {
    font-size: 1.2rem;
  }
  .custom-card2 {
    margin-top: 5rem !important;
    font-size: 1.2rem;
    max-width: 100%;
  }
  .custom-card2 .card-title {
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
  }
  #moreInfoBtn {
    display: none;
  }
  .browser-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 320px;
    height: 1100px;
    margin: 0 auto;
  }
  .browser-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 90%;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
  }
  #chrome {
    align-self: center;
  }
  #firefox {
    align-self: center;
  }
  #opera {
    align-self: center;
  }
  .text-footer {
    margin-top: 3rem !important;
  }
  .cust-foot-txt-div {
    padding-top: 1rem;
  }
  .cust-logo-footer {
    margin-bottom: 1rem;
  }
  .cust-ic-div {
    margin-top: 1rem;
  }
}
.text-footer {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.btn.btn-submit {
  background-color: #FA5959;
  border-color: #FA5959;
}

@media (max-width: 575.8px) {
  .custom-card {
    transform: scale(0.7);
  }
}
@media (min-width: 767.9px) and (max-width: 991.8px) {
  .custom-card {
    transform: scale(0.9);
    margin-bottom: 2rem;
    padding-left: 0;
  }
  .custom-mg-footer {
    margin-left: 38px;
  }
}
@media (max-width: 991.9px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    justify-content: center;
    width: 100%;
  }
  .navbar-collapse .nav-link {
    color: black;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem 10rem 1rem 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-bottom: rgba(14, 0, 0, 0.25) 1px solid;
  }
  .navbar-collapse .nav-link:hover {
    color: #FA5959;
  }
  .navbar-collapse .nav-link .nav-link.active {
    color: black;
  }
  .navbar-collapse .navbar-nav {
    margin-top: 2rem;
  }
  .navbar-collapse #loginButton {
    background-color: #FA5959;
    border-color: #FA5959;
    margin-top: 1rem;
  }
  #logbutt {
    border-bottom: none;
  }
}
@media (min-width: 991px) {
  .custom-mg-footer {
    margin-left: 76px;
  }
}

/*# sourceMappingURL=styles.css.map */
