html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  /*to override the default browser setup*/
}

// Variables
$primary-color: #6072e4;
$secondary-color: #FA5959;
$custom-gray: #dacdcd;

body {
  font-family: 'Rubik', sans-serif;
}

p {
  color: #746e6e;
}

.custom-bg-gray {
  background-color: $custom-gray;
  border: $custom-gray;
}

.custom-bg-footer-footer {
  background-color: #242946;
  // margin-left: 0 !important;
  // margin-right: 0 !important;
}

//navbar expanded header
.nav-item:hover .nav-link {
  color: $secondary-color;
}

// .nav-item:hover .nav-link #loginButton {
//   background-color: transparent;
// }

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 0.875rem;
}

#loginButton {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn,
.btn-primary .nav-link {
  font-weight: 700;
  font-size: 0.875rem;
}

//navbar collapsed logo
.navbar-brand-collapsedNavBar {
  display: none;
}

//button collapsed navbar
.btn-close {
  display: none;
}

.card {
  border: none;
}

// features nav tab
button.nav-link.active#bookmarking-tab,
button.nav-link.active#searching-tab,
button.nav-link.active#sharing-tab {
  border-bottom: #FA5959 2px solid;
}

.nav-link {
  margin-right: 2rem;
  color: black;
}

// .custom-shadow {
//   box-shadow: 0 0 10px rgba(119, 111, 111, 0.5);
// }

.img-main1 {
  position: relative;
  z-index: 1;
}

.blue-right-shadow {
  position: absolute;
  z-index: -1;
  left: 30%;
  top: 0;
  width: 85%;
  height: 70%;
  top: 35%;
  background: #5266df;
  border-bottom-left-radius: 8rem;
}

.img-main2 {
  position: relative;
  z-index: 1;
}

.blue-left-shadow {
  position: absolute;
  z-index: -1;
  right: 30%;
  top: 0;
  width: 85%;
  height: 70%;
  top: 35%;
  background: #5266df;
  border-bottom-right-radius: 8rem;
}

// downloads section
// .custom-browser-box {
//   border: rgba($color: #000000, $alpha: 0.1) 1px solid;
//   box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
//   border-radius: 5px;
//   margin: 0.8rem;
//   // margin-top: 2.3rem;
//   // padding-bottom: 1.3rem;
// }

// #br-box-1, #br-box-2, #br-box-3 {
//   border: rgba($color: #000000, $alpha: 0.1) 1px solid;
//   width: calc(100% / 4);
//   box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
//   border-radius: 5px;
//   margin: 0.8rem;
//   margin-top: 2.3rem;
//   padding-bottom: 1.3rem;
// }





// @media (min-width: 767.8px) {
//   #br-box-1 {
//     align-self: flex-start !important;
//   }

//   #br-box-2 {
//     margin-top: 30px;
//     align-self: center !important;
//   }

//   #br-box-3 {
//     margin-top: 120px !important;
//     align-self: flex-end !important;
//   }
// }

//Downloads browser cards
.browser-cards {
  display: flex;
  height: 550px;
  justify-content: center;
}

.browser-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% / 4);
  height: 70%;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgb(121, 119, 119);
  margin: 20px;
}

#chrome {
  align-self: flex-start;
}

#firefox {
  align-self: center;
}

#opera {
  align-self: flex-end;
}

.custom-h5-text {
  font-weight: bold;
}

.custom-btn {
  font-size: 0.9rem !important;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
}

//FAQs section

// .accordion-button {
//   background-color: $secondary-color;
// }

// .accordion-collapse.collapse.show {
//   color: black !important;
//   background-color: #746e6e;
// }

.accordion-header:active {
  color: black !important;
}

.h2#flush-headingOne.accordion-header {
  color: black !important;
}

#flush-headingOne {
  color: black !important;
}
.accordion-button:hover {
  color: $secondary-color !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.cust-txt-footer {
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 3px;
  margin-top: 25px;
}

.cust-h2-footer {
  margin-top: 2rem;
  font-size: 24px;
  margin-bottom: 1rem;
}

//media queries
@media (max-width: 767.8px) {

 
//---------------------------------------------------
  //main content card "Simple Bookmark Manager"
  .custom-card {
    transform: scale(1.1);
    margin-top: 3rem;
    text-align: center;
  }


  .custom-card .card-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 100%;
  }

  .custom-card .card-title {
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
  }

  //features text md sm devices
  .custom-size-text {
    font-size: 1.1rem;
  }

  //features nav tab md devices
  .custom-nav-tab {
    flex-direction: column;
    align-items: center;

    .nav-link {
      font-size: 1.2rem;
    }
  }

  //features bookmarking tab card "Bookmark in one click"
  .custom-card2 {
    margin-top: 5rem !important;
    font-size: 1.2rem;
    max-width: 100%;
  }

  .custom-card2 .card-title {
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
  }

  #moreInfoBtn {
    display: none;
  }

  //downloads browser cards
  .browser-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 320px;
    height: 1100px;
    margin: 0 auto;

  }

  .browser-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 90%;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
  }

  #chrome {
    align-self: center;
  }

  #firefox {
    align-self: center;
  }

  #opera {
    align-self: center;
  }

  .text-footer {
    margin-top: 3rem !important;
  }

  

  .cust-foot-txt-div {
    padding-top: 1rem;
 
  }

 .cust-logo-footer {
  margin-bottom: 1rem;
 } 

.cust-ic-div {
  margin-top: 1rem;
}

}

// footer
// #footer .a {
//   color: white;
//   text-decoration: none;
//   font-size: 13px;
// }

.text-footer {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.btn.btn-submit {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

// .icons:hover {
//   background-color: #fa5959;

// }

// #footer a:hover {
//   color: $secondary !important;
// }

// .facebook:hover {
//   filter: brightness(0) saturate(100%) invert(42%) sepia(46%) saturate(812%) hue-rotate(314deg) brightness(107%) contrast(96%);
// }

// .twitter:hover {
//   filter: brightness(0) saturate(100%) invert(42%) sepia(46%) saturate(812%) hue-rotate(314deg) brightness(107%) contrast(96%);

// }


//media queries for main content card "A simple bookmark manager"
@media (max-width: 575.8px) {
  .custom-card {
    transform: scale(0.7);
  }
}

@media (min-width: 767.9px) and (max-width: 991.8px) {
  .custom-card {
    transform: scale(0.9);
    margin-bottom: 2rem;
    padding-left: 0;
  }
}

@media (max-width: 991.9px) {
  
   //nav bar collapsed
   .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    justify-content: center;
    width: 100%;
  }

  .navbar-collapse .nav-link {
      color: black;
      font-size: 1.1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding: 1rem 10rem 1rem 10rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border-bottom: rgba(14, 0, 0, 0.25) 1px solid;
    }

    .navbar-collapse .nav-link:hover {
      color: $secondary-color;
    }

    .navbar-collapse .nav-link .nav-link.active {
      color: black;
    }

    .navbar-collapse .navbar-nav {
      margin-top: 2rem;
    }

    .navbar-collapse #loginButton {
      background-color: $secondary-color;
      border-color: $secondary-color;
      margin-top: 1rem;
    }

    #logbutt {
      border-bottom: none;
    }
  
}